#!/usr/bin/python
# -*- coding:utf-8 -*-

app = {
    'settle_interval': 900,         # 结算时间间隔(秒)
    'cv_settle_time_unit': 3600,    # 贡献值结算时间单元(秒)
    'cv_per_settle_unit': 1,        # 账号每使用一个结算时间单元，对应的贡献值
}

server = {
    'domain':   'www.mi-share.com',
    'host':     '0.0.0.0',
    'port':     18888,
    'debug':    True,
}

database = {
    'host':     '127.0.0.1',
    'port':     3306,
    'user':     'root',
    'passwd':   'root',
    'db':       'mishare',
}
